# These environment variables have to be set in order for the application to work
export GEOCODE_DATABASE_URL='jdbc:mariadb://localhost:3306/test'
export GEOCODE_DATABASE_USERNAME='test'
export GEOCODE_DATABASE_PASSWORD='test'
export GEOCODE_PORT=8080